---
const NexcityServices = [
	{
		title: "Programa Full Day Experiencia Pomairina",
		description:"Capacidad(25 a 45 adultos)",
	},
	{
		title: "Gestión",
		description: [
			"1. Desayuno.",
			"2. Introducción y Bienvenida.",
            "3.Taller de Empanadas ",
            "4.Taller Alfarero",
            "5.Aalmuerzo",
		],
	},
	
];
---

<div
	class="grid md:grid-cols-2 gap-10 md:gap-24 justify-items-center items-center"
>
	<img
		src="/Turistaschinos.jpg"
		alt=""
		class="w-52 md:w-72 mx-auto md:mr-0 md:ml-auto aspect-auto"
	/>

	<div class="flex flex-col gap-3 md:items-start items-center">
		<h3 class="flex gap-2 text-2xl mb-2">
			<href Icono_turismo.astro="text-primary-400" /> Turismo 2024
		</h3>
		{
			NexcityServices.map((servicios) => (
				<div class="w-1/2 flex flex-col items-center md:items-start md:flex">
					<h4 class="font-bold text-xl">{servicios.title}</h4>
					<p class="hidden md:inline-block text-pretty">
						{servicios.description}
					</p>
				</div>
			))
		}
        <h3 class="font-bold mt-8 text-s md:mt-0 sm:text-2xl">
            <a href="Ficha turismo 2024.pdf" download class="custom-text">Para ver el pdf completo presione aquí.</a>
        </h3>
	</div>
</div>

<style>
    .custom-img{
        stroke:#76441F;
        stroke-width: 3%;
        border: 5px solid #76441F;
        border-radius: 0.5rem;
    }
    .custom-text{
        color:#76441F;
        font-size: 15px;
    }
</style>