---
import Opcion1 from "./icons/Opcion1.astro"
import Opcion2 from "./icons/Opcion 2.astro"
import Opcion3 from "./icons/Opcion 3.astro"
import Opcion4 from "./icons/Opcion 4.astro"
import Opcion5 from "./icons/Opcion 5.astro"
---

<div class=" h-full py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="grid gap-4 xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 grid-cols-1 md:gap-6 xl:gap-8">
            <!-- image - start -->
            <a href="#"
                class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:h-96">
                    <Opcion2 alt="Greda en tu colegio."; class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"/>
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a href="#"
                class="group relative flex h-48 items-end object-cover overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:col-span-2 lg:h-96">
                    <Opcion1 alt="Experiencia Alfarera." class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
            </a>
            <!-- image - end -->

            <!-- image - start -->
            <a href="#"
                class="group relative flex h-48 items-end object-cover overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:col-span-2 lg:h-96">   
                    <Opcion4 alt="Opcion 4." class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
            </a>
            <!-- image - end -->
            
            <!-- image - start -->
            <a href="#"
                class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:h-96">
                <div class="fill">
                    <Opcion3 alt="Greda en tu colegio."; class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"/>
                </div>
            </a>
            <!-- image - end -->
        </div>
    </div>
</div>


<style>
    tailwind.config = {
        darkMode: 'class',
        theme: {
            extend: {}
        }
    }

    .fill {
        margin:auto;
        object-fit: cover;
        display: flex;
         align-items: center;
        justify-content: center;
    }
    svg {
    height: auto;
    object-fit: cover;}
</style>