---
import Sernatur from "./icons/Sernatur.astro";
import '@fontsource/architects-daughter';
---

<footer style="background-color:#F5E5D0;">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="grid grid-cols-2 gap-8 sm:gap-6">
              <div class="g mx-auto">
                  <h2 class="mb-6 text-lg font-semibold text-gray-900 uppercase dark:text-black">Contacto</h2>
                  <ul class="text-gray-500 dark:text-gray-700 font-medium">
                        <li>
                            <a href="https://api.whatsapp.com/send/?phone=56998793533&text&type=phone_number&app_absent=0"target="_blank" class="">WhatsApp</a>
                            
                        <li>
                            <a href="https://maps.app.goo.gl/zUqFwEMuhjy74zUt7" target="_blank" class="">Como llegar</a>
                        </li>
                        <li>
                        <a href="alvarito.romero.sandoval@gmail.com" target="_blank" class="">Correo</a>
                        </li>
                        <li>
                        <a href="https://www.instagram.com/granjaalfarera?igsh=MTNwZXN5NGVyNzlkaA==" target="_blank"class="">Instagram</a>
                        </li>
                  </ul>
              </div>
              <div class="mb-6 md:mb-0 g mx-auto">
                <a href="#inicio" class="flex">
                    <Sernatur class="h-40"  />
                </a>
              </div>
          </div>
      </div>
      
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">Greda</a>. Bernardo O'Higgins 260A, Pomaire, Melipilla, Región Metropolitana.
          </span>
          </div>
      </div>
    </div>
</footer>


<style>
    a:hover{
        font-size: 108%;
    }

    .g {
        display: inline;
        justify-items: center;
    }
</style>