---
import GranjaAlfarera from "./icons/GranjaAlfarera.astro";
import Tablainicio from "./objetos/Tabla.astro";

const navbarItems = [
	{   
		name: "Inicio",
		component: Tablainicio,
		link: "/#inicio",
	},
	{
		name: "Servicios",
		component: Tablainicio,
		link: "./Servicios",
	},
    {
		name: "Como llegar",
		component: Tablainicio,
		link: "./ComoLlegar",
	},
    {
		name: "Contacto",
		component: Tablainicio,
		link: "https://api.whatsapp.com/send/?phone=56998793533&text&type=phone_number&app_absent=0",
	},
];
---

<header
	class="shadow-md lg:bg-transparent lg:shadow-transparent fixed top-0 z-10 flex lg:justify-between w-full px-5 md:px-10 lg:px-10 items-center py-0 custom-bg-color">

	<div class="relative">
		<GranjaAlfarera class="size-40 text-primary-200" />
	</div>
	
</div>
</div>

	<nav class="relative hidden custom-text grow lg:flex justify-center">
		<ul class="flex md:gap-10 py-0 lg:gap-5">
			{
				 navbarItems.map((item) => (
					<div class="group">
					<li class="relative flex flex-col items-center transition duration-200 group-hover:scale-110">
						<a 
                            aria-label={item.name} 
                            href={item.link}
                            class="absolute inset-0 flex items-center justify-center text-center custom-text font-extrabold"
                            style="z-index: 10;"
                        >
                            {item.name}
                        </a>
                        <item.component class="block" />
					</li>
					</div>
				))
			}
		</ul>
	</nav>
</header>

<style>
	.custom-bg-color{
        background-color:#F5E5D0
    }

    .custom-text{
        color:#76441F
    }
</style>
