---
---


<section class="the-list-content bg-interior" id="visitas-educativas">
    <div class="barra-bajo-banner"></div>

    <div class="container">
        
        <div class="col-md-12 text-center m-t-20 m-b-20" style="font-family: 'Skranji', cursive;">
            <span class="form-title-normal"> ELIJE CÓMO </span> <span class="form-title-bold"> QUIERES LLEGAR AL PARQUE </span>
        </div>
        
        <div class="col-lg-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="col-md-4">
                <a href="https://goo.gl/maps/Af3BGwCRhVQ2" target="_blank" class="btnAzul">Ver Google Maps</a>
            </div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-4">
                <a href="https://www.waze.com/ul?ll=-33.71366290%2C-70.72605100&amp;navigate=yes&amp;zoom=16" target="_blank" class="btnAzul">Ver en Waze</a>
            </div>
            
            
            
        </div>

        <div class="col-lg-6">
            <img src="/wp-content/themes/buinzoo/img/mapa-como-llegar.png " class="img-responsive" alt="">
        </div>

    </div>
</section>